{
  "printWidth": 100,
  "singleQuote": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
