{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "ignorePatterns": ["*.css"],
    "extends": [
      "eslint:recommended", // ESLint recommended rules
      "plugin:react/recommended", // React recommended rules
      "plugin:@typescript-eslint/recommended", // TypeScript recommended rules
      "plugin:@typescript-eslint/eslint-recommended", // ESLint overrides for TypeScript
      "prettier", // Prettier rules
      "plugin:prettier/recommended", // Prettier plugin integration
      "plugin:react-hooks/recommended", // Recommended rules for React hooks
      "plugin:storybook/recommended" // Recommended rules for Storybook
    ],
    "rules": {
      "react/prop-types": "off",
      "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    },
    "settings": {
      "react": {
        "version": "detect"
      }
  }
}
