.feed-back {
  border-radius: 8px;
  width: max-content;
  position: relative;
  padding: 10px 0 16px 16px;

  &.info {
    @apply bg-info-5;
  }

  &.warning {
    @apply bg-warning-5;
  }

  &.error {
    @apply bg-error-5;
  }

  .custom-field {
    display: flex;
    flex-direction: column;
    width: max-content;

    .field-wrapper-and-status-icon {
      display: flex;
      align-items: center;
      margin-right: 13px;

      .status-icon {
        margin-left: 9px;

        &.loading {
          animation: spin 3s linear infinite;
          @apply text-info-30;
        }

        &.info {
          @apply text-info-30;
        }

        &.success {
          @apply text-success-30;
        }

        &.warning {
          @apply text-warning-30;
        }

        &.error {
          @apply text-error-60;
        }

        &.small {
          margin: 5px 0 5px 8px;
        }
      }
    }
  }

  &.small {
    .custom-field {
      .field-wrapper-and-status-icon {
        .status-icon {
          margin: 5px 0 5px 8px;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
