.feed-back {
  border-radius: 0.5rem;
  position: relative;
  padding: 0.625rem 0.813rem 1rem 1rem;

  &.info {
    @apply bg-info-5;
  }

  &.warning {
    @apply bg-warning-5;
  }

  &.error {
    @apply bg-error-5;
  }

  .custom-field {
    display: flex;
    flex-direction: column;

    .field-and-status-icon, .field-wrapper-status-message{
      display: flex;
      align-items: center;

      .status-icon.next-to-field {
        margin-left: 0.563rem;
      }
    }
  }
}
