.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input[type=number] {
    appearance: none;
  -moz-appearance: textfield;
}