.feed-back {
  border-radius: 0.5rem;
  width: max-content;
  position: relative;
  padding: 0.625rem 0 1rem 1rem;

    &.info {
      @apply bg-info-5;
    }

    &.warning {
      @apply bg-warning-5;
    }

    &.error {
      @apply bg-error-5;
    }

    .custom-input {
      display: flex;
      flex-direction: column;
      width: max-content;
      
    
      .label-wrapper {

        display: flex;
        align-items: center;

        &.has-hint {
          margin-bottom: 0;
        }
    
        .required {
          position:absolute;
          left: -0.5rem;
          border-radius: 0.5px;
          @apply text-info-30;
        }
    
        .label {
          display: inline-block;
          height: 1.5rem;
          line-height: 1.5rem;
          letter-spacing: 0;
          text-align: left;
          vertical-align: top;
          @apply text-grey-80 font-sans font-semibold;
    
          &.disabled {
            @apply text-grey-30;
          }
        }
      }
    
      
      .hint {
        height: 1.25rem;
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        @apply text-grey-50;
      }
    

      .input-wrapper-and-status-icon {
        display: flex;
        align-items: center;
        margin-right: 0.812rem;
    
        .input-wrapper {
          display: flex;
          align-items: center;
          padding: 0.187rem;
          margin-left: -0.125rem;
          width:max-content;
      
          &.focused {
            box-shadow: 0 0 0 0.062rem rgba(37, 106, 250, 1) inset;
          }
      
          .leading-content-wrapper {
            height: 2.5rem;
            padding: 0.562rem 1rem 0.687rem 1rem;
            border-radius: 0.25rem 0 0 0.25rem;
            box-shadow: 0 0 0 0.062rem rgba(148, 145, 142, 1) inset;
            margin-right: -0.062rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .leading-content {
              line-height: 1.25rem;
              font-size: 0.875rem;
              text-align: center;
              @apply text-grey-80;
            }
          }
      
          .input {
            height: 2.5rem;
            line-height: 1.5rem;
            text-align: left;
            vertical-align: top;
            letter-spacing: 0;
            padding: 0.5rem 0.75rem;
            border-radius: 0.25rem;
            box-shadow: 0 0 0 0.062rem rgba(148, 145, 142, 1) inset, 0 0.062rem 0.187rem rgba(0, 0, 0, 0.5) inset;
            @apply bg-black-1 text-black-100;
      
            &.with-leading-only {
              border-radius: 0 0.25rem 0.25rem 0;
            }
      
            &.with-trailing-only {
              border-radius: 0.25rem 0 0 0.25rem;
            }
      
            &.with-leading-and-trailing {
              border-radius: 0;
            }
      
            &.with-leading-only, &.with-trailing-only, &.with-leading-and-trailing {
              width: 6rem;
            }
            
            &:focus {
              outline: none;
            }
        
            &:read-only {
              box-shadow: 0 0 0 0.062rem rgba(211, 209, 207, 1) inset, 0 0 0 0.187rem rgba(255, 255, 255, 1) inset;
              @apply text-grey-50 bg-black-2;
            }
      
            &:disabled {
              box-shadow: 0 0 0 0.062rem rgba(235, 235, 234, 1) inset;
              @apply text-grey-30 bg-black-2;
            }
    
            &.success {
              box-shadow: 0 0 0 0.062rem rgba(11, 114, 60, 1) inset, 0 0 0 0.25rem rgba(230, 247, 238, 1) inset;
              background-color: rgba(255, 255, 255, 0.5);
            }
    
            &.info {
              border: 0.093rem solid rgba(112, 193, 229, 1);
              box-shadow: 0 0.062rem 0.187rem rgba(0, 0, 0, 0.5) inset, 0 0 0 0.062rem rgba(0, 0, 0, 1) inset;
              background-color: rgba(255, 255, 255, 1);
            }
    
            &.warning {
              border: 0.093rem solid rgba(234, 167, 43, 1);
              box-shadow: 0 0.062rem 0.187rem rgba(0, 0, 0, 0.5) inset, 0 0 0 0.062rem rgba(0, 0, 0, 1) inset;
              background-color: rgba(255, 255, 255, 1);
            }
    
            &.error {
              border: 0.093rem solid rgba(255, 104, 104, 1);
              box-shadow: 0 0.062rem 0.187rem rgba(0, 0, 0, 0.5) inset, 0 0 0 0.062rem rgba(0, 0, 0, 1) inset;
              background-color: rgba(255, 255, 255, 1);
            }

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          
            &[type=number] {
                appearance: none;
              -moz-appearance: textfield;
            }
          }
      
          
          .trailing-content-wrapper {
            height: 2.5rem;
            padding: 0.562rem 1rem 0.687rem;
            border-radius: 0 0.25rem 0.25rem 0;
            box-shadow: 0 0 0 0.062rem rgba(148, 145, 142, 1) inset;
            margin-left: -0.062rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .trailing-content {
              line-height: 1.25rem;
              font-size: 0.875rem;
              text-align: center;
              @apply text-grey-80;
            }
          }
        }
        .status-icon {
          margin-left: 0.562rem;
          
          &.loading {
            animation: spin 3s linear infinite;
            @apply text-info-30;
          }
    
          &.info {
            @apply text-info-30;
          }
    
          &.success {
            @apply text-success-30;
          }
     
          &.warning {
            @apply text-warning-30;
          }
    
          &.error {
            @apply text-error-60;
          }
    
          &.small {
            margin: 0.312rem 0 0.312rem 0.5rem;
          }
        }
      
      }
    
      .status-message {
        letter-spacing: 0;
        text-align: left;
        line-height: 1.5rem;
        margin-top: 0.687rem;
        margin-bottom: 0.125rem;
        @apply font-semibold;
    
        &.info {
          @apply text-info-60;
        }
    
        &.success {
          @apply text-success-60;
        }
    
        &.warning {
          @apply text-warning-60;
        }
    
        &.error {
          @apply text-error-60;
        }
      }
    }

    &.small {
      .custom-input {
        .label-wrapper {
          .label {
            height: 1.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }

        .hint {
          margin-bottom: 0.187rem;
        }
      
        .input-wrapper-and-status-icon {
          .input-wrapper {
            height: 2.125rem;
        
            .leading-content-wrapper {
              height: 1.75rem;
              border-radius: 0.187rem 0 0 0.187rem;
              .leading-content {
                font-size: 0.75rem;
                line-height: 0.5rem;
              }
            }
        
            .input {
              height: 1.75rem;
              line-height: 1.25rem;
              font-size: 0.875rem;
              padding: 0.187rem 0.5rem 0.187rem 0.437rem;
              border-radius: 0.187rem;

              &.with-leading-only {
                border-radius: 0 0.25rem 0.25rem 0;
              }

              &.with-trailing-only {
                border-radius: 0.25rem 0 0 0.25rem;
              }
        
              &.with-leading-and-trailing {
                border-radius: 0;
              }
        
              &.with-leading-only, &.with-trailing-only, &.with-leading-and-trailing {
                width: 6rem;
              }
            }
            
            .trailing-content-wrapper {
              height: 1.75rem;
              border-radius: 0 0.187rem 0.187rem 0;
                
              .trailing-content {
                font-size: 0.75rem;
                line-height: 0.5rem;
              }
              
            }
          }
          
          .status-icon {
            margin: 0.312rem 0 0.312rem 0.5rem;
          }
        }
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
