.status-message-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 0.688rem;
  margin-bottom: 0.125rem;

  .status-icon {
    margin-right: 0.5rem;
  }

  .status-message {
    letter-spacing: 0;
    text-align: left;
    line-height: 1.5rem;
    @apply font-semibold;
  
    &.info {
      @apply text-info-60;
    }
  
    &.success {
      @apply text-success-60;
    }
  
    &.warning {
      @apply text-warning-60;
    }
  
    &.error {
      @apply text-error-60;
    }
  }
}
