.manchette-container {
  .menu {
    position: absolute;
    z-index: 10;
    @apply bg-grey-5;
    width: 305px;
    top: 30px;
    left: 0;
    border: 0.0625rem solid #b6b2af;
    border-radius: 0.5rem;
    box-shadow:
      0 0.375rem 1.3125rem -0.3125rem rgba(101, 169, 232, 0.341810533216783),
      0 1rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.2),
      0 0.1875rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.1),
      inset 0 0 0 0.0625rem #ffffff;

    /* .menu-item { */
    button {
      width: 100%;
      height: 2.75rem;
      font-size: 0.875rem;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        border-top: 0.0625rem solid #ffffff;
      }

      &:not(:only-of-type, :last-child) {
        border-bottom: 0.0625rem solid #d3d1cf;
      }

      /* .icon { */
      span:first-child {
        @apply text-primary-40;
        padding-inline: 1rem;
      }
    }
  }
  .manchette-actions {
    z-index: 11;
    align-items: center;
    background-color: rgba(250, 249, 245, 0.6);
    border-top: solid 1px;
    border-right: solid 1px;
    border-radius: 0 0 0 10px;
    @apply border-black-25;
    display: flex;
    height: 2.5rem;
    width: inherit;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    .zoom-buttons {
      display: flex;
      align-items: center;
      height: 100%;

      button {
        border-right: solid 1px theme('colors.grey.20');
        border-top: solid 1px white;
        height: 100%;
        padding-inline: 12px;
      }

      button:disabled {
        @apply text-grey-30;
      }

      .zoom-reset {
        @apply text-grey-50;
        font-weight: 600;
        font-size: 14px;
      }
    }

    .toggle-mode {
      font-size: 0.875rem;
      line-height: 14px;
    }
  }
}
