
.manchette-container {
  .manchette-actions {
    align-items: center;
    background-color: rgba(250, 249, 245, 0.6);
    border-top: solid 1px;
    border-right: solid 1px;
    border-radius: 0px 0px 0px 10px;
    @apply border-black-25;
    display: flex;
    height: 2.5rem;
    width: inherit;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);


    .zoom-buttons {
      display: flex;
      align-items: center;
      height: 100%;

      button {
        border-right: solid 1px #d3d1cf;
        border-top: solid 1px white;
        height: 100%;
        padding-inline: 12px;
      }

      button:disabled {
        span {
          color: #B6B2AF
        }
      }

      .zoom-reset {
        color: #797671;
        font-weight: 600;
        font-size: 14px;
      }
    }

    .toggle-mode{
      font-size: 0.875rem;
      line-height: 14px;
    }
  }
}
