.op {
  @apply text-grey-80;
  height: 2rem;
  line-height: 1.5rem;
  padding-block: 3px 5px;
  width: 315px;
  position: relative;
  &-separator {
    position: relative;
    opacity: 0.6;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    min-width: 12px;
    align-self: stretch;
    &::after {
      content: '';
      position: absolute;
      bottom: 11px;
      left: 0;
      width: 100%;
      height: 0.5px;
      @apply bg-grey-40;
    }
  }
  &-name {
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &-ch {
    font-size: 0.875rem;
    margin: 0 2px;
    width: 1rem;
    text-align: left;
    & + .op-separator {
      flex-grow: 0;
      width: 1rem;
    }
  }

  &-type {
    width: 1rem;
    height: 16px;
    position: relative;
    align-self: center;
    & + .op-separator {
      flex-grow: 0;
      width: 0.6875rem;
    }
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 0.125rem;
      height: 0.125rem;
      border-radius: 50%;
      @apply bg-grey-80;
    }
  }
  &-position {
    @apply text-grey-50;
    font-size: 12px;
    font-weight: 400;
    width: calc(41px - 8px); /* 8px is the padding-left */
  }
  .lines {
    min-width: 37px;
  }

  &:hover,
  &.menu-active {
    @apply bg-black-5;
    border-radius: 4px;
    cursor: pointer;

    .op-separator::after {
      @apply bg-black-100;
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 16px;
    right: -1.625rem;
    width: 1.625rem;
    height: 0.5px;
    opacity: 0.6;
    @apply bg-grey-40;
  }
}
