.waypoint-list {
  width: 349px;
  border-bottom-left-radius: 0.25rem;
  padding-left: 0.5rem;

  @apply bg-white-100;

  .waypoint-wrapper:last-child {
    .waypoint {
      &::after {
        bottom: 16px;
      }
    }
  }
}
